<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arpith.dmucs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.arpith.dmucs.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.arpith.dmucs.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="com.arpith.dmucs.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.arpith.dmucs.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.arpith.dmucs.Login"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arpith.dmucs.Splash"
            android:label="DMUCS"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arpith.dmucs.Preference"
            android:label="Preferences"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PREFERENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arpith.dmucs.APreference"
            android:label="Preferences"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.APREFERENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arpith.dmucs.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.Account"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.Alerts"
            android:label="@string/title_activity_alerts" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.QuickReport"
            android:label="Report a Disaster"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.MissingPersonInfo"
            android:label="@string/title_activity_missing_person_info" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.SituationReport"
            android:label="@string/title_activity_situation_report" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.MissingPersonReport"
            android:label="@string/title_activity_missing_person_report" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.Maps"
            android:label="@string/title_activity_maps"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyABEolbRW9qj3NKBB1KDU-56dqfUD_PS_k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.arpith.dmucs.Donate"
            android:label="@string/title_activity_donate"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.WriteQueryDatabase"
            android:label="@string/title_activity_write_query_database" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.ReportList"
            android:label="Report List"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.ReportInfo"
            android:label="Report Info" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.MissingPersonList"
            android:label="Missing Person List"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.MissingPersonFound"
            android:label="Report Person as Found" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.DMUCSNotification"
            android:label="Notifications" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.ReliefInfo"
            android:label="Location Information"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.ReliefAdd"
            android:label="Location Information"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.arpith.dmucs.Gamification"
            android:label="Gamification"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.swarmconnect.SwarmMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Swarm"
            android:screenOrientation="portrait"
            android:theme="@style/HoloTheme"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name="com.swarmconnect.NotificationService"
            android:process=":swarm" />
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.arpith.dmucs" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.arpith.dmucs.MyCustomReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.arpith.dmucs.UPDATE_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>